/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27. apr. 2020, 09.32.10
    Author     : chri9
*/

.statBox{
    -fx-background-color: #fff;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.statBoxText {
    -fx-font-size: 24px; 
}

.statBoxNumber {
    -fx-font-size: 30px;
}